/*
    pallet:
    #F6A5B8 - rose
    #ED2B77 - dark rose
    #0F6B6B - steal
    #54A02C - green
*/

.MainContainer{
    background-color: #0F6B6B;
    color: white;
}

.icon{
    width: 130px;
}

.img-width-1{
    height: 550px;
}

.img-subititle{
    font-size: 12px;
}